.home {
  padding-bottom: 230px;
}

.firstSection {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  .left {
    flex-grow: 1;
    width: calc(20% - 0.5rem);
    background: var(--surface-muted-bg);
    align-self: start;
    min-width: 170px;

    p {
      width: 100%;
      padding: 0.5rem;
    }

    ul {
      padding: 1rem;

      li {
        gap: 0.6rem;
        display: flex;
        align-items: center;
        list-style: none;
        &::before {
          content: "";
          width: 5px;
          height: 5px;
          border: 2px solid var(--bulletColor);
          border-radius: 50%;
        }
      }

      li:not(:first-child) {
        margin-top: 0.5rem;
        list-style: none;
      }
    }
  }

  .right {
    flex-grow: 1;
    width: calc(80% - 0.5rem);
    min-width: 260px;
    position: relative;

    .imageWrapper {
      position: relative;
      width: 100%;
      height: min(60vh, 400px);
      overflow: hidden;

      .gradientOverlay {
        position: absolute;
        inset: 0;
        pointer-events: none;

        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.3) 40%,
          rgba(0, 0, 0, 0.8) 100%
        );
      }
    }

    .picture {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }

    .cursor {
      animation: point 1s infinite;
    }

    .text {
      color: white;
      position: absolute;
      top: 15%;
      left: 1rem;
      padding: 0.5rem;

      h2 {
        font-family:
          "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
          Arial, sans-serif;
      }

      small {
        color: #110303;
      }
    }

    .shopNow {
      padding: 0.4rem;
      margin-top: 0.6rem;
      animation: highlight 1s infinite;
    }
  }
}

.products {
  margin-top: 2.5rem;

  h2 {
    text-align: center;
  }
}

@keyframes point {
  100% {
    transform: translate(-6px, -8px);
  }
}

@keyframes highlight {
  100% {
    transform: scale(1.08);
    border: 2px solid var(--on-accent-color);
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding-bottom: 220px;
  }
}

@media screen and (max-width: 600px) {
  .home {
    padding-bottom: 310px;
  }
}
