.orderpg>*{
  margin-top: .7rem;
}

.orderpg button{
  margin-top: .7rem;
  padding: .4rem;
}

.orderSummary{
  background: var(--surface-muted-bg);
  padding: .4rem .8rem;
  >*{
    margin-top: .5rem;
  }
  
}

