.orderpg > * {
  margin-top: 0.7rem;
}

.orderpg button {
  margin-top: 0.7rem;
  padding: 0.4rem;
}

.orderSummary {
  background: var(--surface-muted-bg);
  padding: 0.4rem 0.8rem;
  > * {
    margin-top: 0.5rem;
  }
}
