.cards{
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
  margin-top: 8rem !important;

  .card{
    display: flex;
    flex-direction: column;
    gap: 1.1rem; 
    padding:.9rem;
    text-align: center;
    box-shadow: 0 0 .3rem rgb(154, 152, 152);
    position: relative;
    overflow: hidden;

    &::after{
      content:"";
      position: absolute;
      background: red;
      top:0;
      left:0;
      height:100%;
      width:.2rem;
      transition: all .5s;
    }

    &:hover::after{
      width:100%;
      height:.2rem;
      
    }
  }
}
