* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: black;
  --on-accent-color: white;
  --muted-color: rgb(98, 96, 96);
  --accent-color: #9f01f4;
  --background-color: rgb(255, 255, 255);
  --accent-background: #9f01f4;
  --surface-muted-bg: rgb(229, 227, 227);
  --footer-background: rgb(17, 20, 27);
  --shadow-color: rgb(154, 152, 152);
  --input-padding-sm: 0.3rem;
  --bulletColor: orange;
}

[data-theme="dark"] {
  --text-color: white;
  --on-accent-color: black;
  --muted-color: rgb(147, 143, 143);
  --accent-color: #65e2fb;
  --background-color: rgb(20, 20, 20);
  --surface-muted-bg: rgb(68, 66, 66);
  --accent-background: #65e2fb;
  --footer-background: #acb1b9;
  --shadow-color: rgb(64, 63, 63);
  --bulletColor: rgb(46, 172, 235);
}

.app {
  overflow: hidden;
  overflow-wrap: break-word;
  position: relative;
  min-height: 100dvh;
  user-select: none;
  color: var(--text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

input,
select {
  padding: var(--input-padding-sm);
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(1.04);
}

small {
  color: var(--muted-color);
}

.accent {
  background: var(--accent-background);
  color: var(--on-accent-color);
}

main {
  padding: 1rem 7rem;
  flex: 1;
  display: flex;
  > div {
    flex: 1;
  }
}

.cards {
  margin-top: 2.5rem;
  display: grid;
  gap: 1.2rem;
}

.card {
  width: 100%;
  border-radius: 0.4rem;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  background: var(--surface-muted-bg);
}

@media screen and (max-width: 1000px) {
  header {
    padding: 1rem 4rem !important;
  }
  main {
    padding: 1rem 4rem !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
  header {
    padding: 1rem 2rem !important;
  }
  main {
    padding: 1rem 2rem !important;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  header {
    padding: 1rem 1rem !important;
  }
  main {
    padding: 1rem 1rem !important;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 13.5px;
  }
}
